extends layout

block content
  .w3-card-4.w3-margin
    header.w3-container.w3-teal
      h1 Editar Rua #{rua.nome}

    .w3-container.w3-center
      form(method="post" action=`/editar/${rua._id}` enctype="multipart/form-data")
        input(type="hidden" name="_method" value="PUT")

        a.w3-btn.w3-margin-top.w3-border.w3-round-large.w3-text-white(href='/ruas' style='background-color: #4CAF50;') Voltar à lista

        .w3-container.w3-margin
          label.w3-center(for="numero") Número:
          input.w3-input(type="text", name="numero" value=rua.numero required)

        .w3-container.w3-margin
          label.w3-center(for="nome") Nome:
          input.w3-input(type="text", name="nome" value=rua.nome required)

        .w3-container.w3-margin
          label.w3-center(for="latitude") Latitude:
          input.w3-input(type="text", name="latitude" value=rua.pos.latitude required)

        .w3-container.w3-margin
          label.w3-center(for="longitude") Longitude:
          input.w3-input(type="text", name="longitude" value=rua.pos.longitude required)

        .w3-container.w3-center.w3-margin
          hr

        // Seção para Vistas atuais
        .w3-container.w3-center.w3-margin
          h3
            b Vistas atuais
          .w3-row-padding.w3-margin-top.w3-center
            each figura, index in rua.figuras
              if figura.imagem.path.startsWith('../atual')
                .w3-third.w3-margin-bottom
                  .w3-card(id=`figura-atual-${index}`)
                    img(src=`${figura.imagem.path.slice(2)}`, style="width:100%")
                    .w3-container
                      h5= figura.legenda
                      input(type="hidden", name="figuras_atual_ids[]" value=figura._id)
                      input(type="hidden", name="figuras_atual_paths[]" value=figura.imagem.path)
                      label.w3-center(for="legenda_atual") Legenda:
                      input.w3-input(type="text", name="legenda_atual[]" value=figura.legenda)
                      button.w3-button.w3-red(type="button", onclick=`removeFigura("figura-atual-${index}")`) Apagar

        .w3-container.w3-center.w3-margin
          hr

        // Seção para Vistas antigas
        .w3-container.w3-center.w3-margin
          h3
            b Vistas antigas
          .w3-row-padding.w3-margin-top.w3-center
            each figura, index in rua.figuras
              if figura.imagem.path.startsWith('../imagem')
                .w3-third.w3-margin-bottom
                  .w3-card(id=`figura-antiga-${index}`)
                    img(src=`${figura.imagem.path.slice(2)}`, style="width:100%")
                    .w3-container
                      h5= figura.legenda
                      input(type="hidden", name="figuras_antigas_ids[]" value=figura._id)
                      input(type="hidden", name="figuras_antigas_paths[]" value=figura.imagem.path)
                      label.w3-center(for="legenda_antiga") Legenda:
                      input.w3-input(type="text", name="legenda_antiga[]" value=figura.legenda)
                      button.w3-button.w3-red(type="button", onclick=`removeFigura("figura-antiga-${index}")`) Apagar

        .w3-container.w3-center.w3-margin
          hr

        // Seção para upload de novas imagens
        .w3-container.w3-center.w3-margin
          h3
            b Upload de Novas Imagens
          .w3-section.w3-margin
            label.w3-center(for="imagem") Imagem:
            input.w3-input(type="file", name="imagem" multiple)
            label.w3-center(for="legenda_imagem") Legenda da Imagem:
            input.w3-input(type="text", name="legenda_imagem[]")

          button.w3-button.w3-green(type="button", onclick="addNovaImagem('imagem')") Adicionar Nova Imagem

          .w3-section.w3-margin
            label.w3-center(for="atual") Atual:
            input.w3-input(type="file", name="atual" multiple)
            label.w3-center(for="legenda_atual") Legenda Atual:
            input.w3-input(type="text", name="legenda_atual[]")

          button.w3-button.w3-green(type="button", onclick="addNovaImagem('atual')") Adicionar Nova Vista Atual

        .w3-container.w3-center.w3-margin
          hr

        .w3-container.w3-center.w3-margin
          h3
            b Descrição
          .descricao-box.w3-margin-top
            textarea.w3-input(name="texto")= rua.paragrafo.texto

        .w3-container.w3-center.w3-margin
          hr

        .w3-container.w3-margin
          h3
            b Entidades
          .entidades-container
            each entidade, index in rua.paragrafo.refs.entidades
              .entidade.w3-margin-bottom
                input.w3-input(type="text", name=`entidades[nome][${index}]` placeholder="Nome da Entidade" value=entidade.nome)
                input.w3-input(type="text", name=`entidades[tipo][${index}]` placeholder="Tipo da Entidade" value=entidade.tipo)
          button.w3-button.w3-green(type="button", onclick="addEntidade()") Adicionar Entidade

        .w3-container.w3-center.w3-margin
          hr

        .w3-container.w3-margin
          h3
            b Lugares
          .lugares-container
            each lugar, index in rua.paragrafo.refs.lugares
              .lugar.w3-margin-bottom
                input.w3-input(type="text", name=`lugares[nome][${index}]` placeholder="Nome do Lugar" value=lugar.nome)
                input.w3-input(type="text", name=`lugares[norm][${index}]` placeholder="Norm (opcional)" value=lugar.norm)
          button.w3-button.w3-green(type="button", onclick="addLugar()") Adicionar Lugar

        .w3-container.w3-center.w3-margin
          hr

        .w3-container.w3-margin
          h3
            b Datas
          .datas-container
            each data, index in rua.paragrafo.refs.datas
              .data.w3-margin-bottom
                input.w3-input(type="text", name=`datas[${index}]` placeholder="Data" value=data)
          button.w3-button.w3-green(type="button", onclick="addData()") Adicionar Data

        .w3-container.w3-center.w3-margin
          hr

        // Seção para Casas
        .w3-container.w3-center.w3-margin
          h3
            b Casas
          .casas-container
            each casa, index in rua.casas
              .w3-card.w3-margin-bottom.w3-padding
                .w3-container
                  h4 Casa #{casa.numero}
                .w3-container.w3-margin-bottom
                  label.w3-center(for="numero") Número:
                  input.w3-input(type="text", name="casas[numero][]" value=casa.numero)
                .w3-container.w3-margin-bottom
                  label.w3-center(for="enfiteutas") Dono:
                  input.w3-input(type="text", name="casas[enfiteutas][]" value=casa.enfiteutas)
                .w3-container.w3-margin-bottom
                  label.w3-center(for="foro") Custo:
                  input.w3-input(type="text", name="casas[foro][]" value=casa.foro)
                .w3-container.w3-margin-bottom
                  label.w3-center(for="desc_texto") Sobre:
                  textarea.w3-input(name="casas[desc][texto][]" placeholder="Descrição")= casa.desc.texto
                .w3-container.w3-margin-bottom
                  label.w3-center Entidades:
                  .refs-entidades-container
                    each entidade, idx in casa.desc.refs.entidades
                      input.w3-input(type="text", name=`casas[desc][refs][entidades][${index}][]` value=entidade.nome placeholder="Entidade Nome")
                      input.w3-input(type="text", name=`casas[desc][refs][entidades-tipo][${index}][]` value=entidade.tipo placeholder="Entidade Tipo")
                  button.w3-button.w3-green(type="button", onclick=`addCasaEntidade(${index}, this)`) Adicionar Entidade
                .w3-container.w3-margin-bottom
                  label.w3-center Lugares:
                  .refs-lugares-container
                    each lugar, idx in casa.desc.refs.lugares
                      input.w3-input(type="text", name=`casas[desc][refs][lugares][${index}][]` value=lugar.nome placeholder="Lugar Nome")
                      input.w3-input(type="text", name=`casas[desc][refs][lugares-norm][${index}][]` value=lugar.norm)
                  button.w3-button.w3-green(type="button", onclick=`addCasaLugar(${index}, this)`) Adicionar Lugar
                .w3-container.w3-margin-bottom
                  label.w3-center Datas:
                  .refs-datas-container
                    each data, idx in casa.desc.refs.datas
                      input.w3-input(type="text", name=`casas[desc][refs][datas][${index}][]` value=data)
                  button.w3-button.w3-green(type="button", onclick=`addCasaData(${index}, this)`) Adicionar Data

        .w3-container.w3-center.w3-margin
          button.w3-button.w3-green(type="submit") Atualizar

      script.
        function removeFigura(id) {
          document.getElementById(id).remove();
        }

        function addNovaImagem(tipo) {
          var container = tipo === 'imagem' ? document.querySelector('.imagens-container') : document.querySelector('.atuais-container');
          var newImage = `
            <div class="w3-container w3-margin-bottom">
              <input class="w3-input" type="file" name="${tipo}" multiple>
              <input class="w3-input" type="text" name="legenda_${tipo}[]" placeholder="Legenda">
            </div>`;
          container.insertAdjacentHTML('beforeend', newImage);
        }

        function addEntidade() {
          var container = document.querySelector('.entidades-container');
          var newEntidade = `
            <div class="entidade w3-margin-bottom">
              <input class="w3-input" type="text" name="entidades[nome][]" placeholder="Nome da Entidade">
              <input class="w3-input" type="text" name="entidades[tipo][]" placeholder="Tipo da Entidade">
            </div>`;
          container.insertAdjacentHTML('beforeend', newEntidade);
        }

        function addLugar() {
          var container = document.querySelector('.lugares-container');
          var newLugar = `
            <div class="lugar w3-margin-bottom">
              <input class="w3-input" type="text" name="lugares[nome][]" placeholder="Nome do Lugar">
              <input class="w3-input" type="text" name="lugares[norm][]" placeholder="Norm (opcional)">
            </div>`;
          container.insertAdjacentHTML('beforeend', newLugar);
        }

        function addData() {
          var container = document.querySelector('.datas-container');
          var newData = `
            <div class="data w3-margin-bottom">
              <input class="w3-input" type="text" name="datas[]" placeholder="Data">
            </div>`;
          container.insertAdjacentHTML('beforeend', newData);
        }

        function addCasaEntidade(casaIndex, button) {
          var container = button.parentElement.querySelector('.refs-entidades-container');
          var newEntidade = `
            <div class="w3-margin-bottom">
              <input class="w3-input" type="text" name="casas[desc][refs][entidades][${casaIndex}][]" placeholder="Entidade Nome">
              <input class="w3-input" type="text" name="casas[desc][refs][entidades-tipo][${casaIndex}][]" placeholder="Entidade Tipo">
            </div>`;
          container.insertAdjacentHTML('beforeend', newEntidade);
        }

        function addCasaLugar(casaIndex, button) {
          var container = button.parentElement.querySelector('.refs-lugares-container');
          var newLugar = `
            <div class="w3-margin-bottom">
              <input class="w3-input" type="text" name="casas[desc][refs][lugares][${casaIndex}][]" placeholder="Lugar Nome">
              <input class="w3-input" type="text" name="casas[desc][refs][lugares-norm][${casaIndex}][]">
            </div>`;
          container.insertAdjacentHTML('beforeend', newLugar);
        }

        function addCasaData(casaIndex, button) {
          var container = button.parentElement.querySelector('.refs-datas-container');
          var newData = `
            <div class="w3-margin-bottom">
              <input class="w3-input" type="text" name="casas[desc][refs][datas][${casaIndex}][]">
            </div>`;
          container.insertAdjacentHTML('beforeend', newData);
        }
